@font-face {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	src: url("/icons/fontawesome.woff2");
}

@font-face {
	font-family: Mfizz;
	src: url("/icons/mfixx.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Devicons;
	src: url("/icons/devopicons.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: file-icons;
	src: url("/icons/file-icons.woff2");
	font-weight: normal;
	font-style: normal;
}

button[data-action="open-file"]:before {
	font-family: "FontAwesome";
	content: "\f0c7";
	font-size: 2em;
}

 .filelist li:before {
	font-family: "FontAwesome";
	content: "\f15b";
 }

 .filelist li[data-mime="directory"]:before {
	font-family: "FontAwesome";
	content: "\f07b";
 }
