@font-face {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	src: url("/icons/fontawesome.woff2");
}

@font-face {
	font-family: Mfizz;
	src: url("/icons/mfixx.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Devicons;
	src: url("/icons/devopicons.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: file-icons;
	src: url("/icons/file-icons.woff2");
	font-weight: normal;
	font-style: normal;
}

button.tab_close:before {
	font-family: "FontAwesome";
	content: "\f00d";
}

button[data-action="open-file"]:before {
	font-family: "FontAwesome";
	content: "\f07b";
}

button[data-action="save-file"]:before {
	font-family: "FontAwesome";
	content: "\f0c7";
}

button[data-action="new-file"]:before {
	font-family: "FontAwesome";
	content: "\f15c";
}

button[data-action="up-dir"]:before {
	font-family: "FontAwesome";
	content: "\f148";
	font-size: 2em;
}


 .has-icon:before {
	font-family: "FontAwesome";
	content: "\f15b";
 }

 .has-icon[data-icon="buffer"]:before {
	font-family: "Devicons";
	content: "\E606";
 }

 .has-icon[data-mime="directory"]:before {
	font-family: "FontAwesome";
	content: "\f07b";
 }

 .has-icon[data-mime="application/pdf"]:before {
	font-family: "FontAwesome";
	content: "\f1c1";
 }

 .has-icon[data-mime^="image/"]:before {
	font-family: "FontAwesome";
	content: "\f1c5";
 }

.has-icon[data-mime="application/javascript"]:before {
	font-family: MFizz;
	content: "\f129";
}

.has-icon[data-name="package.json"]:before {
	font-family: "file-icons";
	content: "\E91C";
}

.has-icon[data-mime="text/x-markdown"]:before {
	font-family: "Devicons";
	content: "\E63E";
}

.has-icon[data-mime="text/html"]:before {
	font-family: "FontAwesome";
	content: "\f13b";
}

.has-icon[data-mime="text/css"]:before {
	font-family: "FontAwesome";
	content: "\f13c";
}