* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	font-family: "Samsung One", "Helvetica Neue", "Calibri Light", Roboto, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: #333;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

#container {
	flex-grow: 1;
	display: flex;
}

#directory {
	flex-grow: 2;
	border-width: 0 1px 0 0;
	padding-top: 0.5em;
}

#currently-open-files {
	padding-top: 0.5em;
	border-width: 0 1px 1px 0px;
}

.tab-content {
	flex-grow: 1;
	display: none;
}

.tab-content.has-focus {
	display: block;
}

#editor {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#sidebar {
	width: 200px;
	max-width: 50%;
	display: flex;
	flex-direction: column;
}

#file-open-widget {
	min-width: 300px;
	width: 66%;
	max-width: 800px;
	height: 500px;
	max-height: calc(100% - 1em);
	background: white;
	box-shadow: 0 0 3em -0.5em black;
	position: absolute;
	left: 50%;
	top: 1em;
	transform: translateX(-50%);
	transition: transform 0.5s ease;
	display: flex;
	padding: 0.5em;
	flex-direction: column;
}

#file-open-widget.closed {
	transform: translateX(-50%) translateY(-100%) translateY(-3em);
}

#file-open-widget input[name="current-path"] {
	margin-bottom: 0.5em;
}

#file-open-widget .buttons {
	text-align: right;
}

#tools {
	display: flex;
	padding: 0.5em;
}

#file-open-widget .file-selectors {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;
}

#file-open-widget .file-selectors .filelist:first-child {
	margin-right: 0.5em;
}

.filelist {
	margin: 0;
	border: 1px solid grey;
	flex-grow: 1;
	overflow: auto;
	list-style: none;
	padding: 0;
}

.filelist .filelist {
	padding-left: 0.5em;
	border: none;
}

.filelist li {
	position: relative;
	white-space: nowrap;
	cursor: pointer;
}

.filelist li:before {
	content: '';
	display: inline-block;
	width: 1.5em;
	padding-right: 0.5em;
	text-align: right;
	user-select: none;
}

.filelist li.has-highlight {
	background-color: orange;
}

#tabs {
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
}

.tab {
	padding: 0.5em;
    display: inline-block;
    border-style: solid;
    border-width: 0;
    background-color: lightgray;
    border-color: lightseagreen;
	border-right-width: 1px;
    border-top-width: 3px;
	transform: translateY(3px);
	transition: transform 0.5s ease;
	cursor: pointer;
	white-space: nowrap;
}

.tab:hover {
	transform: none;
}

.tab.has-focus {
	transform: none;
}