@font-face {
  font-family: 'Samsung One';
  font-style: normal;
  font-weight: 300;
  src: url('SamsungOne-300.woff');
}

@font-face {
  font-family: 'Samsung One';
  font-style: normal;
  font-weight: 400;
  src: url('SamsungOne-400.woff');
}

@font-face {
  font-family: 'Samsung One';
  font-style: normal;
  font-weight: 600;
  src: url('SamsungOne-600.woff');
}

@font-face {
  font-family: 'Samsung One';
  font-style: normal;
  font-weight: 700;
  src: url('SamsungOne-700.woff');
}

@font-face {
  font-family: 'Samsung One';
  font-style: normal;
  font-weight: 800;
  src: url('SamsungOne-800.woff');
}
